RunSphere/node_modules
RunSphere/.expo
RunSphere/.expo-shared
RunSphere/android/.gradle
RunSphere/android/.gradle/**
RunSphere/android/.gradle-user-home
RunSphere/android/.gradle-user-home/**
RunSphere/android/local.properties
RunSphere/android/build
RunSphere/android/build/**
RunSphere/android/app/build
RunSphere/android/app/build/**
RunSphere/ios/Pods
RunSphere/coverage
RunSphere/*.log
RunSphere/npm-debug.log*
RunSphere/yarn-debug.log*
RunSphere/yarn-error.log*
